{# Jinja template for Kong basic_auth plugin #}
plugin:
  name: basic_auth
  config:
    hide_credentials: {{ config.hide_credentials|default(false) }}
    anonymous: {{ config.anonymous|default('') }}
