{# Jinja template for Kong ldap-auth plugin #}
plugin:
  name: ldap-auth
  config:
    ldap_host: {{ config.ldap_host|default('') }}
    ldap_port: {{ config.ldap_port|default(389) }}
    start_tls: {{ config.start_tls|default(false) }}
    base_dn: {{ config.base_dn|default('') }}
    attribute: {{ config.attribute|default('uid') }}
    cache_ttl: {{ config.cache_ttl|default(60) }}
