{# Jinja template for Kong response_transformer plugin #}
plugin:
  name: response_transformer
  config:
    add:
      headers: {{ config.add.headers|default([]) }}
      body: {{ config.add.body|default([]) }}
    remove:
      headers: {{ config.remove.headers|default([]) }}
      body: {{ config.remove.body|default([]) }}
